spec/simple_types/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>

      <xs:element name="title" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:sequence minOccurs="0">
        <xs:element name="Total"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
