spec/choices/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="order">
    <xs:sequence>
      <xs:choice>
        <xs:sequence minOccurs="0">
          <xs:element name="name" type="xs:string">
        </xs:sequence>

        <xs:element name="company_name" type="xs:string">
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
