spec/includes/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="spec/includes/shared.xsd"/>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="title" type="titleType"/>
      <xs:element name="title2" type="titleType2"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
