spec/groups/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="buyer" minOccurs="0">
        <xs:complexType>
          <xs:group ref="configuration" minOccurs="0"/>
        </xs:complexType>
      </xs:element>
      <xs:group ref="configuration" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="configuration">
    <xs:sequence>
      <xs:element name="flag" type="xs:string">
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>
